@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* styles/global.css */
@import url("https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap");

/* Optionally, you can define a custom class for the font */
.font-lusitana {
  font-family: "Lusitana", serif;
}
